$super-light-grey2:#FCFCFC;
$super-light-grey: #F9F9F9;
$light-grey:#D3D3D3;
$medium-grey:#707070;
$dark_grey:#282E36;
$sub_medium_grey:#666666;

$dark_blue:#00446C;
$wolf-blue:#016099;
$medium-blue:#4EB2DD;
$light-electric-blue:#A7E4EA;
$light-grey-blue:#EDF5F5;
