footer{

  ul {
    list-style: none;
  }

  img{
    margin-top:30px;
  }

  margin-top: 50px;
  padding-top:80px;
  padding-bottom:25px;
  box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
  moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
  webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
  background-color:$super-light-grey2;


  .title_level_1{
    font-size:1.4em;
    color:$medium_grey;
    margin-bottom:40px;
  }

  .title_level_1::after{
    content: '';
    display: block;
    height: 11px;
    width: 63px;
    background-color: #A7E4EA;
    margin-top: -10px;
    margin-left: 29px;
  }

  .btn_dark_grey{
    margin-left:30px;
  }

  .liens_sociaux{
    outline:none;
    border:none;

    svg{
      width:30px;
      margin-bottom:22px;

      path{
        fill:$light-electric-blue;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
    }

    .twitter{
      margin-top:42px;
    }
  }

  .liens_sociaux:hover svg path{
    fill:$wolf-blue;
  }

  .adresses{
    .title_name{
      color:$medium-grey;
      font-size:0.9em;
      margin-top:35px;
      margin-bottom:0px!important;
    }

    .title_name::before{
      content: '';
      display: block;
      height: 3px;
      width: 14px;
      position: absolute;
      background-color: #A7E4EA;
      z-index: 0;
      margin-left: -22px;
      margin-top: 9px;
    }
  }

  .liens_pages{
    .title_level_1{
      margin-top:40px;
      margin-bottom:20px!important;
    }

    ul{
      margin-left:30px;

      li{
        margin-bottom:15px;
      }
    }
  }

  .trait_gris_clair{
    display:block;
    height:1px;
    width:100%;
    margin-top:40px;
    background-color:$light-grey;
    margin-bottom:30px;
  }

  .subfooter{
    .text_description{
      font-size:0.8em;
    }

    a{
      color:$medium-grey;
      font-family: 'Montserrat', sans-serif;
      font-size:0.8em;
      font-weight:400;
      float:right;
    }
  }
}
