@import "shared";
@import "pages";

@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.btn_dark_grey{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border:solid $medium-grey 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight:600;
  position:relative;
  font-size:0.9em;
  color:$medium-grey;
  z-index:1;
  padding: 12px 20px 12px 20px;

  svg{
    width:8px;
    margin-left:20px;
    stroke:$medium-grey;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.btn_dark_grey:hover{
  color:white;
  text-decoration:none;

  svg{
    stroke:white;
  }
}

.btn_dark_grey::after {
  background: $medium-grey;
  display:block;
  content: '';
  position: absolute;
  z-index: -1;
  height: 104%;
  left: -1px;
  top: -1px;
  width: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn_dark_grey:hover:after{
  width: 101%;
}

.title_name{
  color:$wolf-blue;
  font-family: 'Montserrat', sans-serif;
  font-size:1.5em;
  font-weight:700;
}


.liens_text{
  color:$medium-grey;
  font-family: 'Montserrat', sans-serif;
  font-size:0.9em;
  font-weight:600;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.liens_text:hover{
  color:$wolf-blue;
  text-decoration:none;
}

//TYPOS
.title_level_1{
  font-family: 'EB Garamond', serif;
  font-weight:600;
  color:$wolf-blue;
  font-size:3em;
}

.text_montserrat{
  font-family: 'Montserrat', sans-serif;
  color:$medium-grey;
  font-size:1em;
  font-weight:300;
}

.title_subcategory{
  color:$light-grey;
  font-family: 'Montserrat', sans-serif;
  font-size:0.8em;
  font-weight:400;
}

.title_name{
  color:$wolf-blue;
  font-family: 'Montserrat', sans-serif;
  font-size:1.5em;
  font-weight:700;
}

.title_zone{
  font-family: 'EB Garamond', serif;
  font-weight:700;
  color:$medium-grey;
  font-size:2em;
}

.title_zone::before{
  content: '';
  height: 5px;
  width: 25px;
  background-color: #A7E4EA;
  display: block;
  position: absolute;
  margin-top: 20px;
  margin-left: -36px;
}


.text_description{
  color:$medium-grey;
  font-family: 'Montserrat', sans-serif;
  font-size:0.9em;
  font-weight:400;
}

.text_description_little{
  color:$medium-grey;
  font-family: 'Montserrat', sans-serif;
  font-size:0.62em;
  font-weight:400;
}


.liens_text{
  color:$medium-grey;
  font-family: 'Montserrat', sans-serif;
  font-size:0.9em;
  font-weight:600;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.liens_text:hover{
  color:$wolf-blue;
  text-decoration:none;
}
