@import "shared";
@import "pages";

.btn_dark_grey{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border:solid $medium-grey 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight:600;
  position:relative;
  font-size:0.9em;
  color:$medium-grey;
  z-index:1;
  padding: 12px 20px 12px 20px;

  svg{
    width:8px;
    margin-left:20px;
    stroke:$medium-grey;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.btn_dark_grey:hover{
  color:white;
  text-decoration:none;

  svg{
    stroke:white;
  }
}

.btn_dark_grey::after {
  background: $medium-grey;
  display:block;
  content: '';
  position: absolute;
  z-index: -1;
  height: 104%;
  left: -1px;
  top: -1px;
  width: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn_dark_grey:hover:after{
  width: 101%;
}

.title_name{
  color:$wolf-blue;
  font-family: 'Montserrat', sans-serif;
  font-size:1.5em;
  font-weight:700;
}


.liens_text{
  color:$medium-grey;
  font-family: 'Montserrat', sans-serif;
  font-size:0.9em;
  font-weight:600;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.liens_text:hover{
  color:$wolf-blue;
  text-decoration:none;
}
