
.services_zone_1{
  padding-top:170px;

  img{
    width:100%;
  }


  .illustration_nuage{
    position: absolute;
    width: 53%;
    top: -67px;
    left: -92px;
  }

  .illustration_nuage_iot{
    position: absolute;
    width: 53%;
    top: -67px;
    left: -92px;
  }

  .title_subcategory{
    font-size:1em;
    font-weight:400;
    margin-top:30px;
    margin-bottom:10px;
  }

  .title_level_1{
    font-size:2.5em;
  }

  .text_montserrat::before{
    content: '';
    height: 5px;
    width: 20px;
    background-color: #A7E4EA;
    display: block;
    position: absolute;
    margin-top: 8px;
    margin-left: -30px;
  }

  .text_montserrat{
    margin-left:60px;
    margin-top:20px;
    font-size:0.9em;
  }
}


.services_zone_2{
  margin-bottom:50px;

  .title_zone{
    font-size:1.5em;
  }
  .title_zone::before{
    margin-top:12px;
  }

  .bis{
    margin-bottom: 40px;
  }

  .text_description{
    margin-top:10px;
    margin-bottom:50px;
  }

  .margin_left_20{
    margin-left:0px;
  }

  .title_name{
    font-size:1em;
  }

  .title_name::before{
    content: '';
    height: 5px;
    width: 15px;
    background-color: #A7E4EA;
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: -25px;
  }

  .icone{
    height: 50px;
  }
}

.services_zone_3{
  background-color:$super-light-grey2;
  padding-top:80px;
  padding-bottom:80px;
  box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
  moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
  webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);

  .text_description{
    margin-top:30px;
    margin-bottom:50px;
  }

  .technical_item{
    display:block;
    background-color:white;
    text-align:center;
    padding:27px 30px 20px 30px;
    box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
    moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
    webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
    margin-bottom:30px;
    height:120px;

    .text_description{
      font-size:1.1em;
      margin-bottom:0px;
      margin-top:0px;
      font-weight:600;
      vertical-align:middle;
    }

    .text_description::after{
      content: '';
      height: 3px;
      width: 10%;
      background-color: $light-electric-blue;
      display: block;
      margin-top:15px;
      margin-left:45%;

    }

    .v_align{
      margin-top:20px;
    }
  }
}
